@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}

*::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.1rem;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

.card-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
@media only screen and (min-width: 850px) {
  .card-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.card-display .product-category-right {
  border-right: 1px solid rgba(0, 0, 255, 0.147);
  width: 100%;
  margin-bottom: 100px;
}
@media only screen and (min-width: 850px) {
  .card-display .product-category-right {
    width: 70%;
    max-width: 1500px;
    margin-bottom: 0px;
  }
}
.card-display .product-category-right .categoryBtn-Con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0;
  flex-wrap: wrap;
  gap: 5px;
}
@media only screen and (min-width: 850px) {
  .card-display .product-category-right .categoryBtn-Con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }
}
.card-display .product-category-right .categoryBtn-Con .category-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 10px;
  font-size: 10px;
}
@media only screen and (min-width: 850px) {
  .card-display .product-category-right .categoryBtn-Con .category-btn {
    width: 18%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 10px;
  }
}
.card-display .product-category-right .categoryBtn-Con .button-active {
  border-bottom: 5px solid royalblue;
  background-color: rgb(229, 229, 229);
}
.card-display .product-category-right #cardmain {
  border-bottom: 1px solid rgba(65, 105, 225, 0.133);
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  overflow-y: scroll;
  height: 500px;
}
@media only screen and (min-width: 850px) {
  .card-display .product-category-right #cardmain {
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
  }
}
.card-display .product-category-right #cardmain .card-con {
  border: 1px solid rgba(65, 105, 225, 0.311);
  padding: 5px;
  width: 30%;
  min-width: 150px;
  height: 250px;
  gap: 3px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  -webkit-animation: category 0.3s ease-in;
          animation: category 0.3s ease-in;
}
@-webkit-keyframes category {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes category {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
.card-display .product-category-right #cardmain .card-con:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.627);
  color: whitesmoke;
}
.card-display .product-category-right #cardmain .card-con:hover p {
  color: whitesmoke;
}
.card-display .product-category-right #cardmain .card-con:hover #addBtn {
  background-color: whitesmoke;
  color: black;
}
.card-display .product-category-right #cardmain .card-con:hover #addBtn:hover {
  background-color: rgba(0, 0, 0, 0.397);
  color: whitesmoke;
  border: 1px solid whitesmoke;
}
@media only screen and (min-width: 850px) {
  .card-display .product-category-right #cardmain .card-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 30%;
    min-width: 225px;
    height: 150px;
  }
}
.card-display .product-category-right #cardmain .card-con .card-img {
  border: 1px solid rgba(65, 105, 225, 0.489);
  width: 100%;
  max-width: 220px;
  min-width: 140px;
  height: 140px;
  margin-bottom: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
@media only screen and (min-width: 850px) {
  .card-display .product-category-right #cardmain .card-con .card-img {
    width: 100%;
    max-width: 220px;
    min-width: 140px;
    height: 140px;
  }
}
.card-display .product-category-right #cardmain .card-con .card-img .cardImage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card-display .product-category-right #cardmain .card-con .card-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  text-align: center;
  height: 100%;
  width: 100%;
}
.card-display .product-category-right #cardmain .card-con .card-details h2,
.card-display .product-category-right #cardmain .card-con .card-details h4,
.card-display .product-category-right #cardmain .card-con .card-details h5 {
  font-size: 10px;
}
.card-display .product-category-right #cardmain .card-con .card-details h2 {
  font-size: 13px;
}
.card-display .product-category-right #cardmain .card-con .card-details h4 {
  font-size: 10px;
  font-weight: 400;
}
.card-display .product-category-right #cardmain .card-con .card-details .btn {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  transition: all 0.3s ease-in;
}
.card-display .product-category-right #cardmain .card-con .card-details .btn:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.444);
  color: whitesmoke;
}
.card-display .product-category-right #cardmain .card-con .card-details .btn:hover p {
  color: whitesmoke;
}
.card-display .product-category-right #cardmain .card-con .card-details .btn:hover #addBtn {
  background-color: rgba(65, 105, 225, 0.435);
  color: black;
  border: 1px solid white;
}
.card-display .product-category-right #cardmain .card-con .card-details .btn:hover #addBtn:hover {
  background-color: rgba(0, 0, 0, 0.397);
  color: whitesmoke;
  border: 1px solid whitesmoke;
}
.card-display .product-category-right #cardmain .card-con .card-details .btn p {
  font-size: 10px;
  color: rgba(245, 245, 245, 0);
  margin-top: 10px;
  text-align: center;
  height: 70%;
}
.card-display .product-category-right #cardmain .card-con .card-details .btn #addBtn {
  position: relative;
  margin-top: auto;
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-top: 3px;
  z-index: 20;
  color: rgba(68, 68, 68, 0);
  background-color: rgba(240, 248, 255, 0);
}
@media only screen and (min-width: 850px) {
  .card-display .product-category-right #cardmain .card-con .card-details .btn #addBtn {
    height: 30px;
  }
}
.card-display .product-category-right #cardmain .card-con .card-details .addToCartPop {
  transform: scale(1);
}
.card-display .class-category-left {
  width: 100%;
  margin-top: -50px;
  padding: 10px;
}
@media only screen and (min-width: 850px) {
  .card-display .class-category-left {
    width: 30%;
    max-width: 1500px;
    margin-top: -100px;
    padding: 15px;
  }
}
.card-display .class-category-left .categoryBtn-Con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  flex-wrap: wrap;
  gap: 5px;
  border-bottom: 1px solid rgba(65, 105, 225, 0.275);
}
@media only screen and (min-width: 850px) {
  .card-display .class-category-left .categoryBtn-Con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid rgba(65, 105, 225, 0.275);
  }
}
.card-display .class-category-left .categoryBtn-Con .class-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 10px;
  font-size: 10px;
}
@media only screen and (min-width: 850px) {
  .card-display .class-category-left .categoryBtn-Con .class-btn {
    width: 18%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 10px;
  }
}
.card-display .class-category-left .categoryBtn-Con .button-active {
  border-bottom: 5px solid royalblue;
  background-color: rgb(229, 229, 229);
}
.card-display .class-category-left .trending {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 7px;
  height: 280px;
  overflow-x: scroll;
}
@media only screen and (min-width: 850px) {
  .card-display .class-category-left .trending {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 270px;
  }
}
.card-display .class-category-left .trending .card-con {
  border: 1px solid rgba(65, 105, 225, 0.476);
  padding: 5px;
  width: 20%;
  min-width: 110px;
  height: 250px;
  gap: 3px;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  -webkit-animation: category 0.3s ease-in;
          animation: category 0.3s ease-in;
}
@keyframes category {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (min-width: 850px) {
  .card-display .class-category-left .trending .card-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 25%;
    min-width: 150px;
    height: 250px;
  }
}
.card-display .class-category-left .trending .card-con .card-img {
  border: 1px solid rgba(0, 0, 0, 0.485);
  width: 100%;
  height: 260px;
  margin-bottom: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
@media only screen and (min-width: 850px) {
  .card-display .class-category-left .trending .card-con .card-img {
    width: 100%;
    max-width: 220px;
    min-width: 140px;
    height: 260px;
  }
}
.card-display .class-category-left .trending .card-con .card-img .cardImage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card-display .class-category-left .trending .card-con .card-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  text-align: center;
  width: 100%;
}
.card-display .class-category-left .trending .card-con .card-details h2,
.card-display .class-category-left .trending .card-con .card-details h4,
.card-display .class-category-left .trending .card-con .card-details h5 {
  font-size: 10px;
}
.card-display .class-category-left .trending .card-con .card-details h2 {
  font-size: 13px;
}
.card-display .class-category-left .trending .card-con .card-details h4 {
  font-size: 10px;
  font-weight: 400;
}
.card-display .class-category-left .trending .card-con .card-details .btn {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  transition: all 0.3s ease-in;
}
.card-display .class-category-left .trending .card-con .card-details .btn:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.627);
  color: whitesmoke;
}
.card-display .class-category-left .trending .card-con .card-details .btn:hover p {
  color: whitesmoke;
}
.card-display .class-category-left .trending .card-con .card-details .btn:hover #addBtn {
  background-color: whitesmoke;
  color: black;
}
.card-display .class-category-left .trending .card-con .card-details .btn:hover #addBtn:hover {
  background-color: rgba(0, 0, 0, 0.397);
  color: whitesmoke;
  border: 1px solid whitesmoke;
}
.card-display .class-category-left .trending .card-con .card-details .btn p {
  font-size: 10px;
  color: rgba(245, 245, 245, 0);
  margin-top: 10px;
  text-align: center;
  height: 70%;
}
.card-display .class-category-left .trending .card-con .card-details .btn #addBtn {
  position: relative;
  margin-top: auto;
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-top: 3px;
  z-index: 20;
  color: rgba(68, 68, 68, 0);
  background-color: rgba(240, 248, 255, 0);
}
@media only screen and (min-width: 850px) {
  .card-display .class-category-left .trending .card-con .card-details .btn #addBtn {
    height: 30px;
  }
}
.card-display .class-category-left .trending .card-con .card-details .addToCartPop {
  transform: scale(1);
}/*# sourceMappingURL=product.css.map */