


/* index page */
.index-page-con {
  width: 100vw;
  overflow: hidden;
  /* border: 2px solid red; */
}
/* top header container */
.index-header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: fixed;
  z-index: 15;
  top: 0;
  background-color: whitesmoke;
  border-bottom: 1px solid rgba(65, 105, 225, 0.184);
}
/* logo image */
.index-header img {
  width: 70px;
  animation: bounce 4s linear infinite;
}

/* navbar for mobile */
.index-header .navbar {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 5rem;
}

/* nabar for tablet and above */
@media screen and (min-width: 768px) {
  .index-header .navbar {
    width: 100%;
    position: relative;
    top: 0;
  }
}
/* nav ul */
.navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* ul for tablet and above */
@media screen and (min-width: 768px) {
  .navbar ul {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 450px;
    border: none;
  }
}

/* nav links */
.navbar ul a {
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s linear;
  background-color: whitesmoke;
  border-bottom: 1px solid rgba(65, 105, 225, 0.184);
}

/* classes for mobile nave toggle */
.left {
  margin-left: -210vw;
}
.right {
  margin-left: 210vw;
}
.left.active {
  margin-left: 0;
}
.right.active {
  margin-left: 0;
}

.navbar ul a:hover {
  background-color: white;
  border-radius: 10px;
}

/* nav links for tablet and above */
@media screen and (min-width: 768px) {
  .navbar ul a {
    padding: 5px 25px;
    border: none;
    margin: 0 0;
  }
  .loginsignin {
    margin-right: 400px;
  }
}

/* add to cart */

.notification-bell {
  padding: 10px;
}
.bxs-cart-add {
  font-size: 30px;
  position: relative;
  padding: 10px;
  border-radius: 100%;
  width: 55px;
  height: 55px;
}
#cart-count {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  background-color: royalblue;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: whitesmoke;
  font-size: 15px;
}

/* menu bar */

.bx-menu {
  font-size: 30px;
  transition: 0.3s linear;
  margin-right: 10px;
  cursor: pointer;
}
.bx-menu:hover {
  color: var(--special-text-Color);
  transform: translateY(-5px);
}
.bx-menu.active {
  transform: rotate(-90deg);
}
@media screen and (min-width: 768px) {
  .bx-menu {
    display: none;
  }
}

/* banner side */
.banner {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  background: url(/image/client\ bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  border-bottom: 1px solid rgba(0, 0, 255, 0.171);
}
.darkbg {
  width: 100vw;
  height: 100%;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.428);
}
.billboard {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.billboard .banner-txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.banner-txt {
  width: 100%;

  text-align: center;
  position: absolute;
  bottom: 0;
}
.banner-txt h3 {
  font-size: 20px;
}
.underline {
  width: 35%;
  margin: 0 auto;
  border-bottom: 5px solid whitesmoke;
  animation: underline 10s linear infinite;
}

@keyframes underline {
  0% {
    width: 10%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 10%;
  }
}
.banner-txt h1 {
  font-size: 25px;
  font-weight: 900;
  color: rgb(26, 74, 220);
}
.banner-txt h4 {
  color: whitesmoke;
  /* line-height: 5px; */
}

.banner-txt p {
  color: whitesmoke;
}
.banner-txt a {
  color: whitesmoke;
}

@media screen and (min-width: 768px) {
  .banner {
    flex-direction: row;
    display: flex;
    height: 55vh;
    margin-top: 5rem;
  }
  .billboard {
    width: 70%;
    margin: auto 0;
    position: relative;
    padding-left: 20px;
  }

  .billboard .banner-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
  }
  .banner-txt {
    width: 100%;
    /* border: 2px solid red; */
    text-align: start;
    position: relative;
    /* margin-top: 6rem; */
    position: absolute;
    bottom: 0;
    top: 0;
  }

  .underline {
    display: none;
  }

  @keyframes underline {
    0% {
      width: 10%;
    }
    50% {
      width: 40%;
    }
    100% {
      width: 10%;
    }
  }

  .banner-txt h4 {
    font-size: 15px;
    color: whitesmoke;
    /* line-height: 5px; */
  }
  .banner-txt h1 {
    font-size: 350%;
    font-weight: 900;
  }
  .banner-txt p {
    font-size: 15px;
    color: whitesmoke;
  }
  .banner-txt a {
    margin-top: 10px;
    border: 2px solid var(--special-text-Color);
    width: 150px;
    color: whitesmoke;
  }
}
.footer {
  width: 100%;
  font-size: 15px;
  text-align: center;
  bottom: 0;
  position: fixed;
  /* position: absolute; */
  background-color: rgba(65, 105, 225, 0.443);
  /* border: 2px solid red; */
}
