@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.1rem;
}

*::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: royalblue;
}

$shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.301);
$border: 1px solid royalblue;
$cardsj-bg: whitesmoke;
$hover-Color: whitesmoke;
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

.card-display {
  @include flexDisplay(space-between, center, column);
  margin-top: 30px;
  // border: 2px solid red;
  height: 1000px;

  @include responsive(tablet) {
    @include flexDisplay(space-between, center, row);
  }

  .product-category-right {
    border-right: 1px solid blue;
    width: 100%;

    @include responsive(tablet) {
      width: 70%;
    }

    .categoryBtn-Con {
      @include flexDisplay(space-around, center, row);
      padding: 0;
      flex-wrap: wrap;
      gap: 5px;

      @include responsive(tablet) {
        @include flexDisplay(space-around, center, row);
        padding: 5px;
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
      }

      .category-btn {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        padding: 0 10px;
        font-size: 10px;

        @include responsive(tablet) {
          width: 18%;
          border: none;
          background-color: rgba(255, 255, 255, 0);
          padding: 5px 10px;
        }
      }
      .button-active {
        border-bottom: 5px solid royalblue;
        background-color: rgb(229, 229, 229);
      }
    }

    .card {
      margin-top: 10px;
      @include flexDisplay(center, center, row);
      // border: 2px solid red;
      flex-wrap: wrap;
      gap: 10px;
      height: 100%;

      @include responsive(tablet) {
        @include flexDisplay(space-around, center, row);
      }

      .card-con {
        border: 1px solid black;
        padding: 10px;
        width: 150px;
        height: 250px;
        gap: 20px;
        @include flexDisplay(space-around, center, column);

        @include responsive(tablet) {
          @include flexDisplay(space-around, center, column);

          border: 1px solid black;
          padding: 10px;
          width: 500px;
          height: 450px;
        }

        .card-img {
          border: 2px solid black;
          width: 100%;
          height: 50px;
          object-fit: contain;

          .cardImage {
            width: 100%;
            height: 100%;
          }
        }
        .card-details {
          text-align: center;
          overflow-y: scroll;
          width: 100%;
          h2,
          h4,
          h5,
          p {
            font-size: 10px;
          }
          .btn {
            #addBtn {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .trending {
    border: 2px solid brown;
    width: 50px;
  }
}
