@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}

*::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.1rem;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

$shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.301);
$border: 1px solid royalblue;
$cardsj-bg: whitesmoke;
$hover-Color: whitesmoke;
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

.card-display {
  @include flexDisplay(space-between, center, column);
  margin-top: 30px;
  //  border: 2px solid red;
  // height: 1000px;

  @include responsive(tablet) {
    @include flexDisplay(space-between, center, row);
  }

  .product-category-right {
    border-right: 1px solid rgba(0, 0, 255, 0.147);
    width: 100%;
    margin-bottom: 100px;

    @include responsive(tablet) {
      width: 70%;
      max-width: 1500px;
      margin-bottom: 0px;
    }

    .categoryBtn-Con {
      @include flexDisplay(space-around, center, row);
      padding: 0;
      flex-wrap: wrap;
      gap: 5px;

      @include responsive(tablet) {
        @include flexDisplay(space-around, center, row);
        padding: 5px;
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
      }

      .category-btn {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        padding: 0 10px;
        font-size: 10px;

        @include responsive(tablet) {
          width: 18%;
          border: none;
          background-color: rgba(255, 255, 255, 0);
          padding: 5px 10px;
        }
      }
      .button-active {
        border-bottom: 5px solid royalblue;
        background-color: rgb(229, 229, 229);
      }
    }

    #cardmain {
      border-bottom: 1px solid rgba(65, 105, 225, 0.133);
      margin-top: 10px;
      @include flexDisplay(space-around, center, row);
      flex-wrap: wrap;
      gap: 10px;
      padding: 5px;
      overflow-y: scroll;
      height: 500px;

      @include responsive(tablet) {
        padding-bottom: 50px;
        @include flexDisplay(flex-start, baseline, row);
      }

      .card-con {
        border: 1px solid rgba(65, 105, 225, 0.311);
        padding: 5px;
        width: 30%;
        min-width: 150px;
        height: 250px;
        gap: 3px;
        border-radius: 5px;
        position: relative;
        @include flexDisplay(space-between, center, column);
        // transition: all .3s linear;
        animation: category 0.3s ease-in;

        @keyframes category {
          0% {
            transform: scale(0.3);
          }
          100% {
            transform: scale(1);
          }
        }

        &:hover {
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.627);
          color: whitesmoke;
          p {
            color: whitesmoke;
          }
          #addBtn {
            background-color: whitesmoke;
            color: black;

            &:hover {
              background-color: rgba(0, 0, 0, 0.397);
              color: whitesmoke;
              border: 1px solid whitesmoke;
            }
          }
        }
        @include responsive(tablet) {
          @include flexDisplay(space-around, center, row);
          width: 30%;
          min-width: 225px;
          height: 150px;
        }

        .card-img {
          border: 1px solid rgba(65, 105, 225, 0.489);
          width: 100%;
          max-width: 220px;
          min-width: 140px;
          height: 140px;
          margin-bottom: auto;
          object-fit: contain;
          border-radius: 5px;

          @include responsive(tablet) {
            width: 100%;
            max-width: 220px;
            min-width: 140px;
            height: 140px;
          }

          .cardImage {
            width: 100%;
            height: 100%;
            border-radius: 5px;

            @include responsive(tablet) {
              // height: 140px;
            }
          }
        }

        .card-details {
          @include flexDisplay(space-around, center, column);
          background-color: whitesmoke;
          text-align: center;
          height: 100%;
          // border: 2px solid red;
          // overflow-y: scroll;
          width: 100%;
          h2,
          h4,
          h5 {
            font-size: 10px;
          }
          h2 {
            font-size: 13px;
          }
          h4 {
            font-size: 10px;
            font-weight: 400;
          }
          .btn {
            width: 100%;
            height: 100%;
            position: absolute;
            margin-left: 0;
            margin-right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 5px;
            transition: all 0.3s ease-in;

            &:hover {
              border-radius: 5px;
              background-color: rgba(0, 0, 0, 0.444);
              color: whitesmoke;
              p {
                color: whitesmoke;
              }
              #addBtn {
                background-color: rgba(65, 105, 225, 0.435);
                color: black;
                border: 1px solid white;

                &:hover {
                  background-color: rgba(0, 0, 0, 0.397);
                  color: whitesmoke;
                  border: 1px solid whitesmoke;
                }
              }
            }

            p {
              font-size: 10px;
              color: rgba(245, 245, 245, 0);
              margin-top: 10px;
              text-align: center;
              height: 70%;
            }
            #addBtn {
              position: relative;
              margin-top: auto;
              width: 80%;
              height: 35px;
              border: none;
              border-radius: 5px;
              margin-top: 3px;
              z-index: 20;
              color: #44444400;
              background-color: rgba(240, 248, 255, 0);

              @include responsive(tablet) {
                height: 30px;
              }
            }
          }
          .addToCartPop {
            transform: scale(1);
          }
        }
      }
    }
  }

  // class filter design
  .class-category-left {
    // border-right: 10px solid rgba(0, 0, 255, 0.516);
    width: 100%;
    margin-top: -50px;
    padding: 10px;
    // height: 380px;

    @include responsive(tablet) {
      width: 30%;
      max-width: 1500px;
      margin-top: -100px;
      padding: 15px;
      // margin-top: 0px;
    }

    .categoryBtn-Con {
      @include flexDisplay(space-around, center, row);
      padding: 5px;
      flex-wrap: wrap;
      gap: 5px;
      border-bottom: 1px solid rgba(65, 105, 225, 0.275);

      @include responsive(tablet) {
        @include flexDisplay(space-around, center, row);
        padding: 5px;
        margin: 0 auto;
        width: 100%;
        border-bottom: 2px solid rgba(65, 105, 225, 0.275);
        // border: 2px solid red;
      }

      .class-btn {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        padding: 0 10px;
        font-size: 10px;

        @include responsive(tablet) {
          width: 18%;
          border: none;
          background-color: rgba(255, 255, 255, 0);
          padding: 5px 10px;
        }
      }
      .button-active {
        border-bottom: 5px solid royalblue;
        background-color: rgb(229, 229, 229);
      }
    }

    .trending {
      // margin-top: 10px;
      @include flexDisplay(flex-start, center, column);
      flex-wrap: wrap;
      gap: 10px;
      padding: 7px;
      height: 280px;
      overflow-x: scroll;

      @include responsive(tablet) {
        @include flexDisplay(space-around, center, column);
        height: 270px;
      }

      .card-con {
        border: 1px solid rgba(65, 105, 225, 0.476);
        padding: 5px;
        width: 20%;
        min-width: 110px;
        height: 250px;
        gap: 3px;
        border-radius: 5px;
        position: relative;
        margin-top: 10px;
        @include flexDisplay(space-between, center, column);
        // transition: all .3s linear;
        animation: category 0.3s ease-in;

        @keyframes category {
          0% {
            transform: scale(0.3);
          }
          100% {
            transform: scale(1);
          }
        }

        @include responsive(tablet) {
          @include flexDisplay(space-around, center, column);
          width: 25%;
          min-width: 150px;
          height: 250px;
        }

        .card-img {
          border: 1px solid rgba(0, 0, 0, 0.485);
          width: 100%;
          // max-width: 220px;
          // min-width: 180px;
          height: 260px;
          margin-bottom: auto;
          object-fit: contain;
          border-radius: 5px;

          @include responsive(tablet) {
            width: 100%;
            max-width: 220px;
            min-width: 140px;
            height: 260px;
          }

          .cardImage {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            // min-width: 120px;

            @include responsive(tablet) {
              // height: 140px;
            }
          }
        }

        .card-details {
          @include flexDisplay(space-around, center, column);
          background-color: whitesmoke;
          text-align: center;
          // height: 100%;
          // border: 2px solid red;
          // overflow-y: scroll;
          width: 100%;
          h2,
          h4,
          h5 {
            font-size: 10px;
          }
          h2 {
            font-size: 13px;
          }
          h4 {
            font-size: 10px;
            font-weight: 400;
          }
          .btn {
            width: 100%;
            height: 100%;
            position: absolute;
            margin-left: 0;
            margin-right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 5px;
            transition: all 0.3s ease-in;

            &:hover {
              border-radius: 5px;
              background-color: rgba(0, 0, 0, 0.627);
              color: whitesmoke;
              p {
                color: whitesmoke;
              }
              #addBtn {
                background-color: whitesmoke;
                color: black;

                &:hover {
                  background-color: rgba(0, 0, 0, 0.397);
                  color: whitesmoke;
                  border: 1px solid whitesmoke;
                }
              }
            }

            p {
              font-size: 10px;
              color: rgba(245, 245, 245, 0);
              margin-top: 10px;
              text-align: center;
              height: 70%;
            }
            #addBtn {
              position: relative;
              margin-top: auto;
              width: 80%;
              height: 35px;
              border: none;
              border-radius: 5px;
              margin-top: 3px;
              z-index: 20;
              color: #44444400;
              background-color: rgba(240, 248, 255, 0);

              @include responsive(tablet) {
                height: 30px;
              }
            }
          }
          .addToCartPop {
            transform: scale(1);
          }
        }
      }
    }
  }
}
// footer{

// }
