@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.1rem;
}

*::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

*::-webkit-scrollbar-thumb {
  background-color: royalblue;
}

$shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.301);
$border: 1px solid royalblue;
$cardsj-bg: whitesmoke;
$hover-Color: whitesmoke;
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

// PROJECTS BEGINS

main {
  @include flexDisplay(space-around, center, row);
  overflow: hidden;

  // LEFT SIDE NAVBAR
  nav {
    @include flexDisplay(space-between, center, column);
    border: $border;
    height: 100vh;
    width: 42%;
    max-width: 42%;
    min-width: 42%;
    padding: 30px 10px;
    z-index: 20;
    position: absolute;
    position: fixed;
    top: 0;
    left: -100vw;
    transition: 0.5s ease;
    background-color: $cardsj-bg;

    @include responsive(tablet) {
      width: 300px;
      max-width: 300px;
      min-width: 300px;
      margin-left: 0;
      z-index: 0;
      position: relative;
      position: sticky;
      margin-bottom: auto;
    }

    // left sidebar toggle classList
    &.open {
      left: 0;
    }

    // profile picture container
    .profile {
      position: relative;
      padding: 5px;
      border-radius: 10px;
      border: $border;
      @include flexDisplay(space-between, center, column);

      .profile-pic-con {
        border: $border;
        position: relative;
        border-radius: 100%;
        padding: 0;
        width: 80px;
        height: 80px;

        @include responsive(tablet) {
          width: 80px;
          height: 80px;
        }

        i {
          font-size: 20px;
          position: absolute;
          bottom: 5px;
          right: 0;
          background-color: $cardsj-bg;
          border-radius: 100%;
          border: $border;
          padding: 5px;

          &:hover {
            background-color: $special-Color;
          }
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }

      h4 {
        @include flexDisplay(space-between, center, column);
        color: $text-Color;
        font-size: 10px;
        width: 98%;
        padding-top: 5px;

        @include responsive(tablet) {
          font-size: 15px;
        }
      }

      p,
      span {
        @include flexDisplay(space-between, center, column);
        color: $text-Color;
        font-size: 10px;
        width: 98%;
        padding-top: 5px;
        letter-spacing: 1px;

        @include responsive(tablet) {
          font-size: 15px;
        }
      }

      b {
        color: $special-text-Color;
      }
    }

    // left sidebar menu list
    ul {
      width: 100%;

      @include responsive(tablet) {
        padding: 0 15px;
      }
      .currentPage {
        border: $border;
        border-left: 10px solid royalblue;
        background-color: white;
      }
      li {
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
        border-radius: 5px;
        position: relative;
        transition: 0.1s ease-out;

        &:hover {
          border: $border;
          border-left: 10px solid royalblue;
          background-color: white;
        }

        @include responsive(tablet) {
          padding: 0 10px;
        }

        // toggle feature for mobile view
        &.active {
          background-color: whitesmoke;
          border: $border;
        }

        a {
          @include flexDisplay(flex-start, center, row);
          color: $text-Color;
          width: 100%;
          height: 100%;
          cursor: pointer;


          h3 {
            font-weight: 400;
            font-size: 12px;

            @include responsive(smallPhone) {
              font-size: 10px;
            }

            @include responsive(tablet) {
              font-weight: 500;
              font-size: 15px;
            }
          }

          i {
            padding: 0 8px 0 8px;
            font-size: 20px;

            @include responsive(tablet) {
              padding: 0 10px 0 0;
            }
          }
        }
      }
    }
  }


  // RIGHT SIDE OF PAGE
  .form-section {
    border: 2px solid green;
    overflow: scroll;
    height: 100vh;

    // top nav section
    .navbarTop {
      @include flexDisplay(space-between, center, row);
      width: 100%;
      height: 70px;
      padding: 0 10px;
      position: sticky;
      top: 0;
      background: $cardsj-bg;
      border-bottom: $border;
      z-index: 10;
      box-shadow: $shadow;

      @include responsive(tablet) {
        height: 70px;
        padding: 0 20px;
      }

      h3 {
        font-size: 20px;
        color: $text-Color;

        @include responsive(tablet) {
          font-size: 30px;
        }
      }

      .search {
        @include flexDisplay(center, center, row);
        background-color: $cardsj-bg;
        width: 400px;
        padding: 0 5px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(221, 221, 221);
        box-shadow: $shadow;
        display: none;

        input {
          border: none;
          outline: none;
          width: 100%;
          padding: 0 10px;
          background-color: transparent;
        }

        i {
          font-size: 22px;
          color: $hover-Text-Color;
        }

        @include responsive(tablet) {
          display: flex;
        }
      }

      .profile-img {
        @include flexDisplay(space-between, center, row);

        img {
          object-fit: cover;
          border-radius: 100%;
          width: 45px;
          height: 45px;
          margin-right: 20px;
          position: relative;

          @include responsive(tablet) {
            width: 50px;
            height: 50px;
            margin-right: 20px;
          }
        }

        .notification-bell {
          @include flexDisplay(center, center, row);
          position: absolute;
          font-size: 18px;
          border-radius: 100%;
          color: $text-Color;
          background-color: $cardsj-bg;
          border: $border;
          width: 20px;
          height: 20px;
          right: 70px;
          top: 5px;

          @include responsive(tablet) {
            right: 30px;
          }
        }

        .bx-menu {
          font-size: 30px;
          transition: 0.3s linear;
          color: $text-Color;

          &.rotate {
            transform: rotate(-90deg);
            color: $special-text-Color;
          }

          @include responsive(tablet) {
            display: none;
          }
        }
      }
    }
    form {
      padding-left: 20px;

      .image-preview {
        border: 1px solid black;
        width: 300px;
        height: 300px;
        margin-top: 10px;
        #preview {
          width: 100%;
          height: 100%;
        }
      }

      input,
      textarea {
        margin-top: 30px;
        display: block;
        width: 300px;
      }
      input {
        height: 30px;
      }

      #addBtn {
        margin-top: 10px;
        border: 2px solid red;
      }
    }
    .table-con {
      border: 4px solid green;
      .table {
        border: 2px solid red;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        th {
          border: 2px solid red;
        }
      }
      #display {
        border: 1px solid red;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;

        tr {
          td {
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid black;
            img {
              width: 50px;
            }
          }
        }
      }
    }
  }
}
// product page
.card {
  // border: 2px solid green;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // grid-template-columns: 300px 300px 300px 300px;
  gap: 50px;

  .card-con {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // height: 500px;
    gap: 5px;
    width: 300px;

    .card-img {
      border: 2px solid black;
      width: 100%;
      // height: 450px;
      object-fit: contain;

      .cardImage {
        width: 100%;
        height: 100%;
      }
    }
    .card-details {
      // justify-content: center;
      // align-items: center;
      text-align: center;
      //  border: 2px solid blue;
      // height: 200px;
      width: 100%;

      .btn {
        #addBtn {
          width: 100%;
          border: 2px solid red;
        }
      }
    }
  }
}
.cart {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .cart-con {
    border: 2px solid green;
    display: flex;
    gap: 10px;

    .cart-img {
      border: 2px solid red;
      width: 50%;
      img {
        width: 100%;
      }
    }
    .cart-details {
      width: 50%;
    }
    .btn {
      // border: 2px solid green;
      margin: auto 0;
      margin-right: 2px;
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
}
